*.iml
.gradle
local.properties
debug.properties
release.properties
/.idea/**
/debug/
/release/
/build/
/captures
.DS_Store
.externalNativeBuild
.cxx
debug.jks
release.jks
/app/debug/
/app/release/
/app/build/
