*.iml
.gradle
/local.properties
/.idea/
/debug/
/release/
/build/
/captures
.DS_Store
.externalNativeBuild
.cxx
release.properties
debug.properties
debug.jks
release.jks
/app/debug/
/app/release/
/app/build/
